

header{
    color:#ffd9b3;
    font-family: 'Monoton', cursive;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
}


body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdnimg.webstaurantstore.com%2Fimages%2Fproducts%2Fextra_large%2F187066%2F773421.jpg&f=1&nofb=1")
}

#tennis_frame{
    padding-left:  100px;
    padding-right: 100px;
}

#Tennis{
    position: relative;
    border-style: solid;
    border-width: 20px;
    border-color: #ff9900;
    border-radius: 5px;
}

canvas{
    
    border-style: solid;
    border-width: 20px;
    border-color: #ff9900;
    border-radius: 5px;
}

footer{
    padding: 10px;
    color:#ffd9b3;
    font-family: 'Monoton', cursive;
    text-align: center;
    letter-spacing: 2px;
}